<div class="gallery">
  <a target="_blank" >
    <img src="https://pbs.twimg.com/media/DyzAl1hWwAAPIAR.jpg" width="600" height="400">
  </a>
  <div class="desc">Some content</div>
</div>
<div class="gallery">
  <a target="_blank" >
    <img src="https://pbs.twimg.com/media/DyzAl1hWwAAPIAR.jpg" width="600" height="400">
  </a>
  <div class="desc">Some content</div>
</div>
<div class="gallery">
  <a target="_blank" >
    <img src="https://pbs.twimg.com/media/DyzAl1hWwAAPIAR.jpg" width="600" height="400">
  </a>
  <div class="desc">Some content</div>
</div>

<<div class="row-padding">
  <div class="third container margin-bottom">
    <img src="https://pbs.twimg.com/media/DyzAl1hWwAAPIAR.jpg" alt="Norway" style="width:100%" class="hover-opacity">
    <div class="container white">
      <p><b>Lorem Ipsum</b></p>
      <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
    </div>
  </div>
  <div class="third container margin-bottom">
    <img src="https://pbs.twimg.com/media/DyzAl1hWwAAPIAR.jpg" alt="Norway" style="width:100%" class="hover-opacity">
    <div class="container white">
      <p><b>Lorem Ipsum</b></p>
      <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
    </div>
  </div>
  <div class="third container">
    <img src="https://pbs.twimg.com/media/DyzAl1hWwAAPIAR.jpg" alt="Norway" style="width:100%" class="hover-opacity">
    <div class="container white">
      <p><b>Lorem Ipsum</b></p>
      <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
    </div>
  </div>
</div>

<<div class="row-padding">
  <div class="third container margin-bottom">
    <img src="https://pbs.twimg.com/media/DyzAl1hWwAAPIAR.jpg" alt="Norway" style="width:100%" class="hover-opacity">
    <div class="container white">
      <p><b>Lorem Ipsum</b></p>
      <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
    </div>
  </div>
  <div class="third container margin-bottom">
    <img src="https://pbs.twimg.com/media/DyzAl1hWwAAPIAR.jpg" alt="Norway" style="width:100%" class="hover-opacity">
    <div class="container white">
      <p><b>Lorem Ipsum</b></p>
      <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
    </div>
  </div>
  <div class="third container">
    <img src="https://pbs.twimg.com/media/DyzAl1hWwAAPIAR.jpg" alt="Norway" style="width:100%" class="hover-opacity">
    <div class="container white">
      <p><b>Lorem Ipsum</b></p>
      <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
    </div>
  </div>
</div>
