<body>
  <div class="container content center padding-64" style="max-width:800px" id="band">
    <h2>THE BAND</h2>
    <p><i>We love music</i></p>
    <div class="list-group">
      <div class="description">
        <p>Oliver Sykes</p>
        <img src=""  alt="Oliver Sykes" style="width:60%">
      </div>
      <div class="description">
        <p>Lee Malia</p>
        <img src="" alt="Lee Malia" style="width:60%">
      </div>
      <div class="description">
        <p>Jordan Fish</p>
        <img src="" alt="Jordan Fish" style="width:60%">
      </div>
      <div class="description">
        <p>Matt Kean</p>
        <img src="" alt="Jordan Fish" style="width:60%">
      </div>
      <div class="description">
        <p>Matt Nicholls</p>
        <img src="" alt="Jordan Fish" style="width:60%">
      </div>
    </div>
  </div>
</body>




