<body>
  <div style="max-width:800px" class="desc">
    <p><i>Who are we?</i></p>
    <div>
      <p>Bring Me the Horizon (often abbreviated as BMTH) is an English rock band formed in Sheffield in 2004. The group consists of lead vocalist Oliver Sykes, guitarist Lee Malia, bassist Matt Kean, drummer Matt Nicholls and keyboardist Jordan Fish. They are signed to RCA Records globally and Columbia Records exclusively in the United States.</p>
      <p>The style of their early work, including their debut album Count Your Blessings, has been described primarily as deathcore, but they started to adopt a more eclectic style of metalcore on later albums. Furthermore, That's the Spirit marked a shift in their sound to less aggressive rock music styles. Amo saw a shift into different genres, such as electronica, pop and hip hop.</p>
    </div>
    <div class="albumDesc">
      <h2>Albums</h2>
      <ul>Count your blessings</ul>
      <ul>Suicide Season</ul>
      <ul>There is a hell, believe me I've seen it. There is a heaven, let's keep it secret.</ul>
      <ul>Sempiternal</ul>
      <ul>That's the Spirit</ul>
      <ul>amo</ul>
    </div>
  </div>
</body>




