<body>
  <div class="container content center padding-64" style="max-width:800px" id="band">
<!--    <h2>THE BAND</h2>-->
    <p><i>Who are we?</i></p>
    <div class="list-group">
      <div class="description">
        <p>Oliver Sykes</p>
        <img src="" style="width:60%">
      </div>
      <div class="description">
        <p>Lee Malia</p>
        <img src="" style="width:60%">
      </div>
      <div class="description">
        <p>Jordan Fish</p>
        <img src="" style="width:60%">
      </div>
      <div class="description">
        <p>Matt Kean</p>
        <img src="" style="width:60%">
      </div>
      <div class="description">
        <p>Matt Nicholls</p>
        <img src="" style="width:60%">
      </div>
      <div><p>Bring Me the Horizon (often abbreviated as BMTH) are an English rock band formed in Sheffield in 2004. The group consists of lead vocalist Oliver Sykes, guitarist Lee Malia, bassist Matt Kean, drummer Matt Nicholls and keyboardist Jordan Fish. They are signed to RCA Records globally and Columbia Records exclusively in the United States.</p></div>
    </div>
  </div>
</body>




