<div class="top">
  <div >
    <a href="javascript:void(0)"><i class="fa fa-bars"></i></a>
    <a href="#" >HOME</a>
    <a href="#band" >BAND</a>
    <a href="#tour" >TOUR</a>
    <a href="#contact" >CONTACT</a>
    <div >
      <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>
        <div >
          <a href="#" >Merchandise</a>
          <a href="#" >Extras</a>
          <a href="#" >Media</a>
        </div>
    </div>
    <a href="javascript:void(0)" ><i class="fa fa-search"></i></a>
  </div>
</div>


