<body>
  <div class="announce">
    <h2 class="letter">New album released!</h2>
    <h3>Listen to it now!</h3>
  </div>
  <div class="text-center" routerLinkActive="active">
    <link rel="stylesheet" href=""> <img class="albumpic" routerLink="/albums" src="https://cdn.dribbble.com/users/1150494/screenshots/6117720/amo_v2_2x.jpg" width="600" height="400">
    <div class="gallery">
      <a target="_blank" >
        <img src="https://pbs.twimg.com/media/DyzAl1hWwAAPIAR.jpg" alt="Ocean" width="600" height="400">
      </a>
      <div class="desc">Some content</div>
    </div>
    <div class="gallery">
      <a target="_blank" >
        <img src="https://pbs.twimg.com/media/DyzAl1hWwAAPIAR.jpg" alt="Ocean" width="600" height="400">
      </a>
      <div class="desc">Some content</div>
    </div>
    <div class="gallery">
      <a target="_blank" >
        <img src="https://pbs.twimg.com/media/DyzAl1hWwAAPIAR.jpg" alt="Ocean" width="600" height="400">
      </a>
      <div class="desc">Some content</div>
    </div>
  </div>

</body>
