<div class="row">
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <a
      href="#"
      class="list-group-item clearfix"
      *ngFor="let album of albums">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ album.name }}</h4>
        <p class="list-group-item-text">{{ album.description }}</p>
      </div>
      <span class="pull-right">
        <img
          [src]="album.imagePath"
          alt="{{ album.name }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
    </a>
  </div>
</div>

<!-- -->
<!---->
<div id="navDemo" style="margin-top:46px">
  <a href="#band"  onclick="myFunction()">BAND</a>
  <a href="#tour" onclick="myFunction()">TOUR</a>
  <a href="#contact" onclick="myFunction()">CONTACT</a>
  <a href="#" onclick="myFunction()">MERCH</a>
</div>

<div style="max-width:2000px;margin-top:46px">

  <div >
    <img src="/w3images/la.jpg" style="width:100%">
    <div >
      <h3>Los Angeles</h3>
      <p><b>We had the best time playing at Venice Beach!</b></p>
    </div>
  </div>
  <div >
    <img src="/w3images/ny.jpg" style="width:100%">
    <div >
      <h3>New York</h3>
      <p><b>The atmosphere in New York is lorem ipsum.</b></p>
    </div>
  </div>
</div>

