<body>
<header>
  <h2>SiCk BoY</h2>
</header>

<section>
  <nav id="menuHeader">
    <ul class="navbar-header">
      <li><a>Home</a></li>
      <li><a>News</a></li>
      <li><a>Contact</a></li>
      <li><a>About</a></li>
    </ul>
  </nav>
  <article>
    <h1>sadadsadas</h1>
    <p>adadafdj-asddddddddddddddddddddkafldfghasoghuogkusdfhdolasfhdspfjñsdafsdfsd</p>
    <p>dfsdfdsfdalkfjldjglaslhfonvariueroñrxfsdafdasfasfdgasdafgfgsdfgsa</p>
  </article>
</section>


<footer>
  <p>Footer</p>
</footer>

</body>

<div class="w3-top">
  <div>
    <a href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a>HOME</a>
    <a>BAND</a>
    <a>TOUR</a>
    <a>CONTACT</a>
    <div>
      <button title="More">MORE <i class="fa fa-caret-down"></i></button>
      <div>
        <a href="#">Merchandise</a>
        <a href="#">Extras</a>
        <a href="#">Media</a>
      </div>
    </div>
    <a href="javascript:void(0)"><i class="fa fa-search"></i></a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BAND</a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TOUR</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a>
</div>
