<body>
<header>
  <h2>SiCk BoY</h2>
</header>

<section>
  <nav id="menuHeader">
    <ul class="navbar-header">
      <li><a>Home</a></li>
      <li><a>News</a></li>
      <li><a>Contact</a></li>
      <li><a>About</a></li>
    </ul>
  </nav>
  <article>
    <h1>sadadsadas</h1>
    <p>adadafdj-asddddddddddddddddddddkafldfghasoghuogkusdfhdolasfhdspfjñsdafsdfsd</p>
    <p>dfsdfdsfdalkfjldjglaslhfonvariueroñrxfsdafdasfasfdgasdafgfgsdfgsa</p>
  </article>
</section>


<footer>
  <p>Footer</p>
</footer>

</body>

