ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  /*background-color: #f1f1f1;*/
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}


ul a:hover {
  background-color: #555;
  color: white;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #222222;
  padding: 5px;
  text-align: center;
  font-size: 35px;
  color: white;
}

section {
  display: -webkit-flex;
  display: flex;
}

nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 10px;
}

article {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  background-color: #f1f1f1;
  padding: 40px;
  margin-left: 20px;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
