<body>
  <header class="edit">
    <a routerLink="/home" routerLinkActive="active"><h2>BRING ME THE HORIZON</h2></a>
  </header>
<div class="top">
  <ul class="nav">
    <li routerLinkActive="active">
      <a routerLink="/home" href="#" >HOME</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/band" href="#" >BAND</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/tour" href="#" >TOUR</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/contact" href="#">CONTACT</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/merch" href="#">MERCH</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/albums" href="#">ALBUMS</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
</body>


