
.nav li{
  display: inline-block;
}
.nav {
  background-color: black;
}

li a {
  display: inline-block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}


ul a:hover {
  background-color: darkmagenta;
  color: white;
}

.edit:hover {
   color: darkred;
 }

h2:hover {
  color: darkmagenta;
}

h2 {
  color: white;
}

/*body {*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*  padding: 100px;*/
/*  background: url("https://cdn.dribbble.com/users/1150494/screenshots/6117720/amo_v2_2x.jpg");*/
/*  background-size: auto;*/
/*}*/


header {
  background-color: #222222;
  padding: 5px;
  text-align: center;
  text-indent: hanging;
  font-size: 35px;
  color: white;
}

div.gallery {
  margin: 15px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid darkred;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/*http://hammerworld.hu/images/upload/000abmthwembleycover.jpg?20110201-164743*/
/*https://pbs.twimg.com/media/DyzAl1hWwAAPIAR.jpg*/
/*https://upcomingvinyl.com/pics/covers/b/bring-me-the-horizon-amo-1.jpg*/


