<hr>
<div class="row" style="padding-left: 25px">
  <div class="col-xs-12">
    <a
      href="#"
      class="list-group-item clearfix"
      *ngFor="let album of albums">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ album.name }}</h4>
        <p class="list-group-item-text">{{ album.description }}</p>
      </div>
      <span class="pull-right">
        <img
          [src]="album.imagePath"
          alt="{{ album.name }}"
          class="img-responsive"
          style="max-height: 85px;">
      </span>
    </a>
  </div>
</div>
